@model IEnumerable<Travel_Planner___SE_Project.Models.Destination>

@if (!Model.Any())
{
    <p>No destinations found matching your search.</p>
}
else
{
    foreach (var destination in Model)
    {
        <div class="travel">
            <img class="travel-image" src="/img/@destination.ImageUrl" alt="@destination.Name" />
            <p class="travel-title">@destination.Name</p>
            <ul class="travel-attributes">
                <li class="travel-attribute">
                    <ion-icon class="travel-icon" name="flame-outline"></ion-icon>
                    <img class="flag-image" src="@Url.Content("~/img/" + destination.Country.Replace(" ", "").Trim() + ".png")" alt="@destination.Country Flag" />
                    <span>@destination.Country</span>
                </li>
                <li class="travel-attribute">
                    <ion-icon class="travel-icon" name="star-outline"></ion-icon>
                    <span>@(destination.Description?.Split('.')[0] + ".")</span>
                </li>
            </ul>
        </div>
    }
}